body {
	background-color: #b19025;
}

.form_border {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sign_up_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

#sign_up_name,
#sign_up_password,
#sign_up_confirm_password {
	padding: 20px;
	border-radius: 20px;
	min-width: 240px;
	min-height: 30px;
	background-color: #b19025;
	
}

#sign_up_submit {
	margin-left: 25%;
	padding: 10px 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
	background-color: black;
	border-radius: 30px;

}

.list_of_rules {
	list-style: none;
	text-align: start;
	margin: 0;
	padding-inline-start: 0;
}

#sign_in_btn {
	color: black;
	background-color: transparent;
	border: none;
	margin-top: 20px;
}

#sign_up_sign_up_div {
	display: flex;
	gap: 20px;
}