body{
  margin: 0;
}

table {
  margin: auto;
}

table,
td,
th {
  color: black;
  padding: 10px;
  border: solid black 2px;
  border-collapse: collapse;
  text-align: center;
}

.buy_btn,
.sell_btn {
  margin: 0;
  color: white;
  background-color: black;
  border: none;
  border-radius: 0px;
}

.remove_btn {
  margin: 0;
  color: white;
  background-color: transparent;
  border: none;
  /*text-shadow: 1px 1px 2px #50331b;*/

}



#submit_btn,
#add_company_btn {
  margin-top: 30px;
 /*height: 30px;*/
  padding: 20px 50px;
  width: auto;
  color: white;
  background-color: black;
  border-radius: 30px;
  border: none;
}

#div_form {
  margin-left: 40%;
}

#add_company_input {
  border-radius: 10px;
  height: 30px;
  margin-top: 20px;
  margin-left: -35px;
}

.check_box {
  margin: 0px;
  margin-top: 10px;
}

.top_nav{
 background-color: black;
 width: 100%;
 padding: 20px;
}

a{
	color: white;
	text-decoration: none;
	margin-right: 20px;
  }
  
  a:hover{
	text-decoration: underline;
  }
  
  a:active{
	color: white;
  }