*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  text-align: center;
  width: 100%;
}

h1 {
  white-space: nowrap;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  margin: 10px;
  margin-left: 10px;
}

#alert {
  color: rgb(148, 0, 32);
}

.main_contant {
  display: flex;
}

table {
  border: solid;
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;

  /* margin: auto;*/
}

table,
td,
th {
  color: black;
  padding: 10px;
  border: solid black 2px;
  border-collapse: collapse;
  text-align: center;
}

.buy_btn,
.sell_btn,
.remove_btn {
  margin: 0;
  color: white;
  background-color: black;
  border: none;
  border-radius: 0px;
  width: max-content;

}

.remove_btn {
  background-color: transparent;
}

#submit_btn,
#add_company_btn {
  margin-top: 30px;
  /*height: 30px;*/
  padding: 20px 50px;
  /* width: auto;*/
  color: white;
  background-color: black;
  border-radius: 30px;
  border: none;
}

button:hover {
  cursor: pointer;
}

#div_form {
  margin-left: 20px;
}

#add_company_input {
  border-radius: 10px;
  height: 30px;
  margin-top: 20px;
  margin-left: -35px;
}

.check_box {
  margin: 0px;
  margin-top: 10px;
}

.top_nav {
  display: flex;
  background-color: black;
  align-items: center;
}

.top_nav .links {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  margin-left: 60%;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}

a:hover {
  text-decoration: underline;
}

.a_h1:hover {
  text-decoration: none;
}

a:active {
  color: white;
}

.closedMarket{
  background-color: #389159;
  color: white;
}

.openMarket{
  background-color: #6bca8e;
  color: black;
}